#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.read-the-docs {
  color: #888;
}

.inputs {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  outline: none;
}

.label {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkbox input {
  width: 20px;
  height: 20px;
}

.checkbox label {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: white;
}

.export-buttons-group {
  display: flex;
  gap: 10px;
}
